<p id="notice"><%= notice %></p>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <%= link_to 'Back', products_path, :class => "btn btn-light" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Edit', edit_product_path(@product), :class => "btn btn-light"%>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <%= image_tag @product.photo %>
    <p class="card-text"><%= @product.description %></p>
  </div>
</div>
